{% extends 'shopping/base.html' %}
{% block title  %}My Orders{% endblock %}
{% block body %}
    {% for order in orders %}
        <p> {{ order.date }}</p>
        {% for p in order.products.all %}
        <p> {{ p.title }} {{ order.get_status_display }}</p>
        {% endfor %}
    {% endfor %}
    
    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'shopping/form-template.html' %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
    </form>
                    

{% endblock%}

