{% extends 'shopping/base.html' %}
{% load i18n %}

{% block body %}
{% trans 'Here is all products' as allpro %}
{% trans 'You dont have any products' as donthavepro %}


    {% if products %}
        <h1>{{ allpro }}</h1>
        <ul>
            {% for product in products %}
            <li>
                <a href="{% url 'shop:productdetail' product.id %}" >{{ product.title }}</a>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <h3>{{ donthavepro }}</h3>
    {% endif %}
{% endblock %}