{% extends 'shopping/base.html' %}
{% load staticfiles %}
{% block title %}{{ product.title }} {% endblock %}
{% block body %}
    <div class="container">
    <div class="row ">

        <div class="col-8">
            <p class="alert alert-light text-center col-md-12">{{ product.title }}</p>
            <p class="alert alert-light text-center col-md-12">{{ Category }}: {{ product.cat }}</p>
            <p class="alert alert-light text-center col-md-12">{{ available }} {{ product.available }}</p>
            <p class="text-center col-md-12">{{ price }}: <b>{{ product.price }}</b></p>
        </div>

        <div class="col-4  product-container">
            {% if product.pic %}
                <img class="col-md-12 " src="{{ product.pic.url }}">
            {% else %}
                <img class="col-md-12 " src="{% static 'Shopping/red_apple.jpg' %}">
            {% endif %}
        </div>

    </div>
    {##}
    {#    <div class="col-md-12  products-container">#}
    {#        <div class="col-md-4 offset-md-4">#}
    {#            <div class="col-md-12 product-container">#}
    {#                {% if product.pic %}#}
    {#                    <img class="col-md-12" src="{{ product.pic.url }}">#}
    {#                {% else %}#}
    {#                    <img class="col-md-12" src="{% static 'Shopping/red_apple.jpg' %}">#}
    {#                {% endif %}#}
    {#                <p class="alert alert-light text-center col-md-12">{{ product.title }}</p>#}
    {#                <p class="alert alert-light text-center col-md-12">{{ Category }}: {{ product.cat }}</p>#}
    {#                <p class="alert alert-light text-center col-md-12">{{ available }} {{ product.available }}</p>#}
    {#                <p class="text-center col-md-12">{{ price }}: <b>{{ product.price }}</b></p>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}

{% endblock %}

